<app-header></app-header>

<!-- BEGIN CONTENT-->
<div id="content">
  <section style="margin-left: -30px; margin-right: -90px;">
    <div class="section-header">
      <div class="row">
        <div class="col-md-6">
          <h2>Geo Fencing <a class="btn btn-sm ink-reaction btn-floating-action btn-primary" href="" data-toggle="modal" data-target="#view-des-modal"><i class="fa fa-plus"></i></a></h2>
        </div>
        <div class="col-md-6">
          <ol class="breadcrumb" style="background-color: #e5e6e6">
            <li><a href="<?php echo $base_url; ?>/dashboard.php"><i class="fa fa-home"></i> Home</a></li>
            <li class="active">Geo Fencing</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="section-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <table class="table table-striped table-bordered dataTable no-footer ResTable" cellspacing="0" width="100%">
                <thead>
                <tr class="text-uppercase">
                  <th class="text-center" style="width:50px">No.</th>
                  <th>City Name</th>
                  <th>Seq. Number</th>
                  <th>Airport</th>
                  <th>Device ID</th>
                  <th class="text-center" style="width:150px">action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="text-center">1</td>
                  <td>Ahmedabad</td>
                  <td>1</td>
                  <td>International</td>
                  <td>12</td>
                  <td class="text-center">
                    <table class="actionIcon">
                      <tr>
                        <td><a href="" title="Edit" data-toggle="modal" data-target="#view-des-modal" data-tooltip="tooltip" data-placement="top" data-original-title="Edit Record"><i class="fa fa-pencil"></i></a></td>
                        <td><a href="" title="" data-toggle="modal" data-target="#delete-modal" data-tooltip="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash"></i></a>&nbsp;</td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="text-center">2</td>
                  <td>Ahmedabad</td>
                  <td>1</td>
                  <td>International</td>
                  <td>12</td>
                  <td class="text-center">
                    <table class="actionIcon">
                      <tr>
                        <td><a href="" title="Edit" data-toggle="modal" data-target="#view-des-modal" data-tooltip="tooltip" data-placement="top" data-original-title="Edit Record"><i class="fa fa-pencil"></i></a></td>
                        <td><a href="" title="" data-toggle="modal" data-target="#delete-modal" data-tooltip="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash"></i></a>&nbsp;</td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="text-center">3</td>
                  <td>Ahmedabad</td>
                  <td>1</td>
                  <td>International</td>
                  <td>12</td>
                  <td class="text-center">
                    <table class="actionIcon">
                      <tr>
                        <td><a href="" title="Edit" data-toggle="modal" data-target="#view-des-modal" data-tooltip="tooltip" data-placement="top" data-original-title="Edit Record"><i class="fa fa-pencil"></i></a></td>
                        <td><a href="" title="" data-toggle="modal" data-target="#delete-modal" data-tooltip="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash"></i></a>&nbsp;</td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="text-center">4</td>
                  <td>Ahmedabad</td>
                  <td>1</td>
                  <td>International</td>
                  <td>12</td>
                  <td class="text-center">
                    <table class="actionIcon">
                      <tr>
                        <td><a href="" title="Edit" data-toggle="modal" data-target="#view-des-modal" data-tooltip="tooltip" data-placement="top" data-original-title="Edit Record"><i class="fa fa-pencil"></i></a></td>
                        <td><a href="" title="" data-toggle="modal" data-target="#delete-modal" data-tooltip="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash"></i></a>&nbsp;</td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="text-center">5</td>
                  <td>Ahmedabad</td>
                  <td>1</td>
                  <td>International</td>
                  <td>12</td>
                  <td class="text-center">
                    <table class="actionIcon">
                      <tr>
                        <td><a href="" title="Edit" data-toggle="modal" data-target="#view-des-modal" data-tooltip="tooltip" data-placement="top" data-original-title="Edit Record"><i class="fa fa-pencil"></i></a></td>
                        <td><a href="" title="" data-toggle="modal" data-target="#delete-modal" data-tooltip="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-trash"></i></a>&nbsp;</td>
                      </tr>
                    </table>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div><!--end .row -->
    </div>
  </section>
</div>
<!-- END CONTENT -->

<div class="modal fade" id="view-des-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-center">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="simpleModalLabel">Geo Fencing</h4>
      </div>
      <div class="modal-body">
        <form class="form floating-label formValidate" role="form">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <select id="user-role" class="form-control" data-validation="required" data-validation-error-msg="Select Car Type">
                  <option value=""></option>
                  <option value="super">Ahmedabad</option>
                  <option value="40">40</option>
                </select>
                <label>Select City Name<span class="text-danger">*</span></label>
              </div>
              <div class="form-group">
                <select id="user-role" class="form-control" data-validation="required" data-validation-error-msg="Select Airport">
                  <option value=""></option>
                  <option value="super">Domestic</option>
                  <option value="40">40</option>
                </select>
                <label>Select Airport<span class="text-danger">*</span></label>
              </div>

              <div class="form-group">
                <input class="form-control" type="text" data-validation="required" data-validation-error-msg="Enter Sequence Number">
                <label>Sequence Number<span class="text-danger">*</span></label>
              </div>
              <div class="form-group">
                <input class="form-control" type="text">
                <label>Device ID(IEMI Type)</label>
              </div>
            </div>
            <div class="col-xs-12">
              <button class="btn btn-primary" type="submit" name="submit">Submit</button>
              <a href="" data-dismiss="modal" aria-hidden="true" class="btn btn-default-dark">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<app-navigation></app-navigation>
