<!-- BEGIN HEADER-->
<header id="header" >
  <div class="headerbar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="headerbar-left">
      <ul class="header-nav header-nav-options">
        <li class="header-nav-brand" >
          <div class="brand-holder">
            <a href="">
            <span><img src="assets/images/beep-logo.png" alt="beep"></span>
            </a>
          </div>
        </li>
        <li>
          <a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
            <i class="fa fa-bars"></i>
          </a>
        </li>
      </ul>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="headerbar-right">
      <ul class="header-nav header-nav-options">
        <li>
          <!-- Search form -->
          <form class="navbar-search" role="search" method="post" action="">
            <div class="form-group">
              <input type="text" class="form-control" name="headerSearch" placeholder="Enter your keyword">
            </div>
            <button type="submit" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
          </form>
        </li>
        <li class="dropdown hidden-xs">
          <a href="" class="btn btn-icon-toggle btn-default" data-toggle="dropdown">
            <i class="fa fa-bell"></i><sup class="badge style-danger">2</sup>
          </a>
          <ul class="dropdown-menu animation-expand notification-body">
            <li class="dropdown-header">Today's messages</li>
            <li>
              <a class="alert alert-callout alert-success" href="">
                <strong>8:24 PM</strong><br/>
                <p>Member approval for 912 finished</p>
              </a>
            </li>
            <li>
              <a class="alert alert-callout alert-danger" href="">
                <strong>9:27 AM</strong><br/>
                <p>503 Member status inactive till 30/04/2018</p>
              </a>
            </li>
            <!-- Notification End for Society Admin  -->
          </ul>
        </li>
      </ul><!--end .header-nav-options -->
      <ul class="header-nav header-nav-profile">
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
            <img src="assets/images/avatar1.jpg" alt="" />
            <span class="profile-info">
									Superadmin
									<small style="color: #0c7cd5">Welcome to Kiosk</small>
								</span>
          </a>
          <ul class="dropdown-menu animation-dock">
            <li><a routerLink="/profile">My profile</a></li>
            <li class="divider"></li>
            <li><a routerLink="/changePassword">Change Password</a></li>
            <li class="divider"></li>
            <li><a routerLink="/logout"><i class="fa fa-fw fa-power-off text-danger"></i> Logout</a></li>
          </ul><!--end .dropdown-menu -->
        </li><!--end .dropdown -->
      </ul><!--end .header-nav-profile -->
    </div><!--end #header-navbar-collapse -->
  </div>
</header>
<!-- END HEADER-->
<div id="base">
  <!-- BEGIN OFFCANVAS LEFT -->
  <div class="offcanvas">
  </div><!--end .offcanvas-->
  <!-- END OFFCANVAS LEFT -->
</div>
