<app-header></app-header>
<!-- BEGIN CONTENT-->
<div id="content">
  <section>
    <div class="section-header">
      <div class="row">
        <div class="col-md-6">
          <h2>Change Password</h2>
        </div>
        <div class="col-md-6">
          <ol class="breadcrumb" style="background-color: #e5e6e6">
            <li><a href="<?php echo $base_url; ?>/pages/superadmin/dashboard.php"><i class="fa fa-home"></i> Home</a></li>
            <li class="active">Change Password</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="section-body contain-lg">
    </div>
    <div class="section-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <div class="alert alert-success" role="alert">
                <strong>Well done!</strong> You successfully read this important alert message.
              </div>
              <div class="alert alert-danger" role="alert">
                <strong>Oh snap!</strong> Change a few things up and try submitting again.
              </div>
              <div class="col-lg-6">
                <form (ngSubmit)="changePassword()" [formGroup]="myForm">
                <div class="form-group">
                    <label>Old Password</label>
                    <input class="form-control" id="password" formControlName="oldPassword" type="text" data-validation="required" data-validation-error-msg="Enter old password">
                  </div>
                  <div class="form-group">
                    <label>New Password</label>
                    <input class="form-control" id="new-password" formControlName="newPassword" name="new-password" type="password" data-validation="required" data-validation-error-msg="Enter new password">
                  </div>
                  <div class="form-group">
                    <label>Confirm Password</label>
                    <input class="form-control" id="comfirm-password" formControlName="conformPassword" type="password" data-validation="required" data-validation-error-msg="Enter Confirm Password">
                  </div>
                  <div class="form-group">
                    <input type="submit" class="btn ink-reaction btn-info" value="Submit">&nbsp;
                    <a href="<?php echo $base_url; ?>/pages/gatekeeper/dashboard.php" class="btn ink-reaction btn-default-dark">Cancel</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div><!--end .row -->
    </div>
  </section>
</div>
<!-- END CONTENT -->
<app-navigation></app-navigation>
