<!-- BEGIN MENUBAR-->
<div id="menubar" class="menubar-inverse">
  <div class="menubar-fixed-panel">
    <div>
      <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <div class="expanded">
      <!--<a href="../../html/dashboards/dashboard.html">
        <span class="text-lg text-bold text-primary ">MATERIAL&nbsp;ADMIN</span>
      </a>
      -->
    </div>
  </div>
  <div class="menubar-scroll-panel">

    <!-- BEGIN MAIN MENU -->
    <ul id="main-menu" class="gui-controls">

      <!-- BEGIN DASHBOARD -->
      <li>
        <a routerLink="/dashboard">
          <div class="gui-icon"><i class="fa fa-home" style="color: #0aa89e;"></i></div>
          <span class="title">Dashboard</span>
        </a>
      </li><!--end /menu-li -->
      <li>
        <a routerLink="/driverRegisterPendingList">
          <div class="gui-icon"><i class="fa fa-pencil-square-o"></i></div>
          <span class="title">Registration Requests</span>
        </a>
      </li>
      <li>
        <a routerLink="/driverManagement">
          <div class="gui-icon"><i class="fa fa-users"></i></div>
          <span class="title">Driver Management</span>
        </a>
      </li>
      <li>
        <a routerLink="/driverCancelRequest" >
          <div class="gui-icon"><i class="fa fa-user-times"></i></div>
          <span class="title">Driver Cancel</span>
        </a>
      </li>
      <li>
        <a routerLink="/commissionManagement">
          <div class="gui-icon"><i class="fa fa-flag-checkered"></i></div>
          <span class="title">Commission Management</span>
        </a>
      </li>
      <li>
        <a routerLink="/carType">
          <div class="gui-icon"><i class="fa fa-car"></i></div>
          <span class="title">Car Type</span>
        </a>
      </li>
      <li>
        <a routerLink="/carModel">
          <div class="gui-icon"><i class="fa fa-cab"></i></div>
          <span class="title">Car Model</span>
        </a>
      </li>
      <li>
        <a routerLink="/depositHistory">
          <div class="gui-icon"><i class="fa fa-history"></i></div>
          <span class="title">Deposit History</span>
        </a>
      </li>
      <li>
        <a routerLink="/subscriptionManagement" >
          <div class="gui-icon"><i class="fa fa-diamond"></i></div>
          <span class="title">Subscription Management</span>
        </a>
      </li>
      <li>
        <a routerLink="/driverReport">
          <div class="gui-icon"><i class="fa fa-file-text-o"></i></div>
          <span class="title">Driver Report</span>
        </a>
      </li>
      <li>
        <a routerLink="/taxManagement">
          <div class="gui-icon"><i class="fa fa-road"></i></div>
          <span class="title">Tax Management</span>
        </a>
      </li>
      <li>
        <a routerLink="/advertiseManagement">
          <div class="gui-icon"><i class="fa fa-bullhorn"></i></div>
          <span class="title">Advertise Management</span>
        </a>
      </li>
      <li>
        <a routerLink="/cMSManagement">
          <div class="gui-icon"><i class="fa fa-server"></i></div>
          <span class="title">CMS Management</span>
        </a>
      </li>
      <li>
        <a routerLink="/cityManagement" >
          <div class="gui-icon"><i class="fa fa-building-o"></i></div>
          <span class="title">City Management</span>
        </a>
      </li>
      <li>
        <a routerLink="/geoFacing">
          <div class="gui-icon"><i class="fa fa-street-view"></i></div>
          <span class="title">Geo Facing</span>
        </a>
      </li>
      <li>
        <a routerLink="/aPKManagement">
          <div class="gui-icon"><i class="fa fa-android"></i></div>
          <span class="title">APK Management</span>
        </a>
      </li>
    </ul><!--end .main-menu -->
    <!-- END MAIN MENU -->

    <div class="menubar-foot-panel">
      <small class="no-linebreak hidden-folded text-center">
        <span class="opacity-75">@ Copyright 2018 beep <br/> All rights reserved. Version 1.0.3(5)</span>
      </small>
    </div>
  </div><!--end .menubar-scroll-panel-->
</div><!--end #menubar-->
<!-- END MENUBAR -->
